# --- Python ---
backend/.venv/
**/.venv/
__pycache__/
*.pyc
# Ignore local environment variables
.env
.env.local


# --- Javascript / Next.js ---
node_modules/
dist/
build/
.next/
# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- VSCode ---
.vscode/

# --- OS Generated ---
.DS_Store
Thumbs.db